body{
  margin: 0;
  padding: 0;
  background-color: #232323;

}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #00a33f;
}

::-webkit-scrollbar-thumb:hover {
  background: #101010;
}